#intro {
    background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
    height: 110vh;
}

.navbar .nav-link {
    color: #fff !important;
}

.text-weightLight {
    font-weight: lighter !important;
}

.ml__2 {
    border: 1px solid blue;
    margin-left: -5% !important;
}

// ul{
//     list-style-type: square !important;
// }

ul {
    ol {
        list-style: numeric;
        list-style-type: decimal;
        margin-left: -20% !important;
    
    }
}

@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}
